body{
    margin: 0 auto;
    background-color:white;

/*	--------- FONT FAMILY --------
    following are some optional font families. Usually a family
    is safer to choose than a specific font,
    which may not be on the users computer		*/
    font-family:Georgia, Palatino, serif;

/*	-------------- COLOR OPTIONS ------------
    following are additional color options for base font
    you could uncomment another one to easily change the base color
    or add one to a specific element style below         */
    color: #333333; /* dark gray not black */

    line-height: 1;
    max-width: 800px;
    padding: 30px;
    font-size: 18px;
}


p   {
    line-height: 150%;
    max-width: 960px;
    font-weight: 400;
     color: #333333
}


h1, h2, h3, h4 {
    font-weight: 400;
}

h2, h3, h4, h5, p {
    margin-bottom: 25px;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    font-size:300%;
    padding: 0px;
    font-variant:small-caps;
}

h2 {
    font-size:150%
}

h3 {
    font-size:120%
}
h4 {
    font-size:100%
    font-variant:small-caps;

}
h5 {
    font-size:80%
    font-weight: 100;
}

h6 {
    font-size:80%
    font-weight: 100;
    color:red;
    font-variant:small-caps;
}
a {
    color: grey;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: blink;
    color: green;
}
a:visited {
    color: black;
}
ul, ol {
    padding: 0;
    margin: 0px 0px 0px 50px;
}
ul {
    list-style-type: square;
    list-style-position: inside;

}

li {
     line-height:150%
}
li ul, li ul {
    margin-left: 24px;
}

pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    border-left:.5em solid #eee;
    padding: 0 1em;
    margin-left:0;
    max-width: 476px;
}
blockquote  cite {
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {
    color: #666;
    max-width: 460px;
}
hr {
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

